<app-header></app-header>
<main class="cinephoria-booking-detail"
      [ngStyle]="{'background-image': 'url(' + movieImage + ')'}">

  <span class="cinephoria-main-title w-full">{{ movieTitle }}</span>

  <section class="cinephoria-booking-informations">

    <div class="cinephoria-informations">
      <img src="../../assets/images/Calendar.png" alt="Calendrier" width="25" height="25" class="icon" />
      <span class="cinephoria-big-text">{{ showtimeDate }}</span>
    </div>

    <div class="cinephoria-informations">
      <img src="../../assets/images/Clock.png" alt="Horaires" width="25" height="25" class="icon" />
      <span class="cinephoria-big-text">
          {{ showtimeStartHour }}h{{ showtimeStartMinute }} - {{ showtimeEndHour }}h{{ showtimeEndMinute }}
      </span>
    </div>

    <div class="cinephoria-informations">
      <img src="../../assets/images/Hall.png" alt="Salle" width="25" height="25" class="icon" />
      <span class="cinephoria-big-text">Salle {{ hallNumber }}</span>
    </div>

    <div class="cinephoria-informations">
      <img src="../../assets/images/Chair.png" alt="Sièges" width="25" height="25" class="icon" />
      <span class="cinephoria-big-text">{{ seats }}</span>
    </div>

  </section>

    <qrcode
      [qrdata]="qrCode"
      [allowEmptyString]="true"
      [cssClass]="'center'"
      [elementType]="'svg'"
      [errorCorrectionLevel]="'H'"
      [scale]="1"
      [margin]="1"
      [title]="'QR Code'"
      [width]="200"
    ></qrcode>

  <button type="button" (click)="returnToBookingList()" class="cinephoria-button-details">
    <img ngSrc="../../assets/images/Left_arrow.png" alt="Retour" class="icon" width="20" height="20" />
    <span style="font-size: 4dvw;">Retour</span>
  </button>

</main>
