<section class="cinephoria-hall flex flex-col justify-around w-screen h-50" style="background-image: url('assets/images/movies/Avengers - Infinity War.png')">

  <div class="cinephoria-movie-title text-center">
    <span>Avengers : Infinity War</span>
  </div>

  <div class="flex flex-col justify-center">
    <div class="flex justify-around items-center">
      <div class="flex items-center w-50" style="padding-left: 0.5rem;">
        <img ngSrc="../../assets/images/Calendar.png" alt="Calendrier" class="icon" width="20" height="20" />
        <span class="cinephoria-big-text" style="margin-left: 0.3rem;">12/04/2025</span>
      </div>
      <div class="flex items-center w-50">
        <img ngSrc="../../assets/images/Clock.png" alt="Horaires" class="icon" width="20" height="20" />
        <span class="cinephoria-big-text" style="margin-left: 0.3rem;">21h00 - 23h30</span>
      </div>
    </div>

    <div class="flex justify-around items-center">
      <div class="flex items-center w-50" style="padding-left: 0.5rem;">
        <img ngSrc="../../assets/images/Hall.png" alt="Salle" class="icon" width="20" height="20" />
        <span class="cinephoria-big-text" style="margin-left: 0.3rem;">Salle 1</span>
      </div>
      <div class="flex items-center w-50">
        <img ngSrc="../../assets/images/Chair.png" alt="Sièges" class="icon" width="20" height="20" />
        <span class="cinephoria-big-text" style="margin-left: 0.3rem;">A22/A23/A24</span>
      </div>
    </div>
  </div>

  <div class="flex justify-center">
    <button type="button" class="cinephoria-button text-center h-10 w-50">
      <img ngSrc="../../assets/images/Qr_code.png" alt="QR Code" class="icon" width="20" height="20" />
      <span style="margin-left: 1.5rem;">Afficher le QR Code</span>
    </button>
  </div>
</section>
