<section class="cinephoria-booking flex flex-col justify-around w-screen" [ngStyle]="{'background-image': 'url(assets/images/movies/' + movieImage + ')'}">

  <div class="cinephoria-movie-title text-center">
    <span>{{ movieTitle }}</span>
  </div>

  <div class="flex flex-col justify-center items-center h-20">
    <div class="flex justify-around items-center">
      <div class="cinephoria-informations">
        <img ngSrc="../../assets/images/Calendar.png" alt="Calendrier" class="icon" width="20" height="20" />
        <span class="cinephoria-big-text" style="margin-left: 0.3rem;">{{ showtimeDate }}</span>
      </div>
      <div class="cinephoria-informations">
        <img ngSrc="../../assets/images/Clock.png" alt="Horaires" class="icon" width="20" height="20" />
        <span class="cinephoria-big-text" style="margin-left: 0.3rem;">{{ showtimeStartHour }} - {{ showtimeEndHour }}</span>
      </div>
    </div>

    <div class="flex justify-around items-center">
      <div class="cinephoria-informations">
        <img ngSrc="../../assets/images/Hall.png" alt="Salle" class="icon" width="20" height="20" />
        <span class="cinephoria-big-text" style="margin-left: 0.3rem;">Salle {{ hallNumber }}</span>
      </div>
      <div class="cinephoria-informations">
        <img ngSrc="../../assets/images/Chair.png" alt="Sièges" class="icon" width="20" height="20" />
        <span class="cinephoria-big-text" style="margin-left: 0.3rem;">{{ seats }}</span>
      </div>
    </div>
  </div>

  <div class="flex justify-center">
    <button type="button" (click)="displayBookingDetails(id)" class="cinephoria-button text-center" style="width: 55dvw; height: 5dvh;">
      <img ngSrc="../../assets/images/Qr_code.png" alt="QR Code" class="icon" width="20" height="20" />
      <span style="margin-left: 1.5rem; font-size: 4dvw;">Afficher le QR Code</span>
    </button>
  </div>
</section>
