<main class="flex flex-col justify-around items-center h-dvh cinephoria-background">
    <div class="flex flex-col justify-center items-center w-dvh">
        <h1 class="cinephoria-main-title">Cinéphoria</h1>
        <img ngSrc="../../assets/images/Popcorn.png" width="100" height="100" priority />
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="flex flex-col justify-between items-center h-50 w-dvh">

        <div class="flex flex-col justify-between items-center h-20">
            <div class="cinephoria-input-container">
                <img ngSrc="../../assets/images/user.svg" width="25" height="25" alt="Email"/>
                <input id="email" type="email" formControlName="email" placeholder="Email" class="cinephoria-input h-8" />
            </div>

            <div class="cinephoria-input-container">
                <img ngSrc="../../assets/images/lock.svg" width="25" height="25" alt="Mot de passe" />
                <input id="password" type="password" formControlName="password" placeholder="Password" class="cinephoria-input h-8" />
            </div>
        </div>

        <button type="submit" [disabled]="!loginForm.valid" class="cinephoria-button h-10 w-40">Connexion</button>

    </form>

    <div></div>
</main>
